<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".properties" mimeType="text/plain" />
            <mimeMap fileExtension=".json" mimeType="text/plain" />
        </staticContent>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="test/mockServer.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
